# Configuración personal del usuario (contiene rutas locales)
config_usuario.json

automation_images/*
!automation_images/.gitkeep
!automation_images/debug/
automation_images/debug/*
!automation_images/debug/.gitkeep


# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
.env
venv/
.venv/
